*{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

#home {
    height: 92vh;
    width: 100vw;
    background: url('../image/background.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.menu {
    height: 8vh;
    width: 100vw;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_barras {
    position: absolute;
    right: 10px;
}
.menu_barras div{
    height: 2px;
    width: 32px;
    margin: 8px;
    background: #fff;
}



.menu_barras:hover{
    opacity: 0.7;
    cursor: pointer;
}
.logo {
    position: absolute;
    left: 20px;
}
.logo a  {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 28px;
}
body {
    overflow-x: hidden;
}
.menu_lista {

    margin: 0;
    padding: 0;
    position: absolute;
    top: 8vh;
    background: #000;
    height: 92vh;
    width: 50vw;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /* align-items: center; */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.menu_lista--link {
    list-style: none;
}

.menu_lista--link a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* border: 1px solid red; */
    
}

.vermelho{
    color: red;

}

.menu_lista-ativa {
    transform: translateX(0);
}

.conteudo {
    width: 85%;
    
    margin: 0 auto;
    padding-top: 20px;
}

.menu_barras--linha1, .menu_barras--linha2, .menu_barras--linha3 {
    transition: all 0.3s ease-in-out;
}

.mobile_menu_line1 {
    
    transform: rotate(-45deg) translate(-8px, 8px);
   
   
}

.mobile_menu_line2 {
   
    opacity: 0;
  
   
}

.mobile_menu_line3 {
   
    transform: rotate(45deg) translate(-5px, -7px);
   
}

@media(min-width: 765px){
   
    .menu_barras{
        display: none;
    }

    .menu_lista{
        transform: translateX(0);
        position: unset;
        
        height: 8vh;
        flex-direction: row;
        align-items: center;
    }


    .logo{
        position: unset;
    }

}